<% include("../partials/header.ejs") %> 
<h1>Skills</h1>
    <% if(error) { %> 
        <h2><%= error %></h2>
    <% ] else { %>
        <h2>Skill Number<%= skill._id %> </h2>
        <h3><%= skill.text %> </h3>
        <p>Complete: <%= skill.done ? 'Expert!' : 'Keep Learning' %></p>
    <% } %> 
            <a href="/skills">Go Home</a>
<% include("../partials/footer.ejs") %> 
