<% include("../partials/header.ejs") %> 
    <h1>Enter a New Skill</h1>
    <form action="/skills" method="POST" autocomplete="off">
        <label>Skill Name:
            <input type="text" name='Name'>
        </label><br>
        <label>Stack:
            <input type="text" name='Tech Stack'>
        </label><br>
        <label>Experience Level
            <select name='ExpertLevel'>
                <option value="Noob">Noob</option>
                <option value="Getting-There">Getting-There</option>
                <option value="Guru">Guru</option>
            </select>
        </label><br>
        <button type="submit">Add Skill</button>
    </form>
<% include("../partials/footer.ejs") %> 