<% include("../partials/header.ejs") %> 
    <h1>Enter a New Skill</h1>
    <form action="/skills" method="POST" autocomplete="off">
        <label>Skill Name:
            <input type="text" name="text">
        </label><br>
        <label>Lesson:
            <input type="text" name="unit">
        </label><br>
        <button type="submit">Add Skill</button>
    </form>
<% include("../partials/footer.ejs") %> 