<% include("../partials/header.ejs") %> 
<h1>Skill Info</h1>
<h2>
        Skill Level: <%= skill.name %>
        -
        <%= skill.ExpertLevel ? 'keep trying' : 'what is an elon musk' %>
    </h2>
    <a href="/skills">Back to Home</a>
<% include ("../partials/footer.ejs") %> 