<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/error.css" rel="stylesheet">
  <title>Error!</title>
</head>
<body>
  <h1><%= error.status %></h2>
  <h1><%= message %></h1>
  <h2 class="title">Try using your <a href="https://maps.google.com">map</a> next time</h2>
  <h2 class="title">Or <a href="https://localhost:3000">Go Back</a></h2>
</body>
</html>


